
.home header nav {
  background-color: none;
}
.home header nav ul {
  list-style-type: none;
}

.home header nav a:hover {
  color: 2px solid var(--dark) !important;
}
.home header nav ul li a.active {
  border-bottom: 1px solid var(--dark);
}

.home header header {
  background-color: black;
 }