.home header {
  display: flex;
  justify-content: flex-start;
  height: min-content;
}

.home header nav {
  flex: 1;
  display: flex;
}
.home header nav ul {
  flex: 1;
  margin: 0;
  padding: 0;

  display: flex;
}
.home header nav ul li {
  width: fit-content;
}
.home header nav ul li a {
  height: 100%;
  padding: 4px;

  display: flex;
  align-items: center;
}
