.app-35 {
  --font: 'Poppins', Arial, Helvetica, sans-serif;
}

.app-35 {
  font-family: var(--font);
}

.app-35 nav a {
  font-size: 10px + 1vh;
}

.app-35 .label {
  font-size: calc(8px + 1vh);
}

.app-35 .fa-arrow-alt-circle-down {
  font-size: 6vh;
}

.app-35 a,
.app-35 a:visited,
.app-35 a:active,
.app-35 a:hover {
  text-decoration: none !important;
}

.app-35 .articles .box {
  text-align: center;
}

.app-35 .box p {
  font-size: 16px;
}

.app-35 header h1 {
  font-size: 3rem;
  margin: 2rem 0;
}

.app-35 header h3 {
  font-size: 1.25rem;
}

.app-35 .tag {
  font-size: 16px;
}

.app-35 input {
  font-family: var(--font);
}

.app-35 nav-item.deployed {
  font-size: 1.5vmin;
}
