.home header {
  --font: 'Poppins', Arial, Helvetica, sans-serif;
}

.home header {
  font-family: var(--font);
}

.home header nav a {
  font-size: 10px + 1vh;
}

.home header .label {
  font-size: calc(8px + 1vh);
}

.home header .fa-arrow-alt-circle-down {
  font-size: 6vh;
}

.home header a,
.home header a:visited,
.home header a:active,
.home header a:hover {
  text-decoration: none !important;
}

.home header .articles .box {
  text-align: center;
}

.home header .box p {
  font-size: 16px;
}

.home header h1 {
  font-size: 3rem;
  margin: 2rem 0;
}

.home header h3 {
  font-size: 1.25rem;
}

.home header .tag {
  font-size: 16px;
}

.home header input {
  font-family: var(--font);
}

.home header nav-item.deployed {
  font-size: 1.5vmin;
}
