.app-18 {
  --secondary: #faead6;
  --primary: #7a6345;
  --text-primary: #0014ab;
  --text-secondary: white;
}

.app-18 header,
footer {
  color: var(--text-primary);
}
.app-18 header,
.app-18 footer {
  background-color: var(--secondary);
}

.app-18 main {
  background-color: var(--primary);
}
.app-18 table,
td,
th {
  border-spacing: 0;
}

.app-18 .buttons * {
  color: var(--text-secondary);
}
.app-18 footer .react-icon {
  color: var(--text-primary);
  font-size: 2rem;
}
.app-18 .select {
  min-width: 50px;
}
