.app-18 .body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 100vw;
  height: 100vh;
  overflow-y: auto;
}

.app-18 header,
.app-18 main,
.app-18 footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-18 main {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.app-18 section {
  width: 100%;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: space-evenly;
  gap: 1rem;
  padding: 1rem;
}

.app-18 section.new-employees {
  flex: 1;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  flex-flow: column nowrap;
}

.app-18 article {
  border-radius: 1rem;
  width: 100%;
  max-width: 300px;

  height: fit-content;
}
.app-18 td {
  width: 100%;
}
.app-18 th {
  padding-right: 8px;
  text-align: right;
}
.app-18 tr:not(:last-of-type) th {
  padding-top: 5px;
  vertical-align: top;
}

.app-18 footer {
  padding: 4px 0;
}
.app-18 footer p {
  margin: 0;
}

.app-18 .buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}
