.app-03 {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body:has(.app-03) {
  overflow-x: hidden;
}
.app-03 .body {
  background-color: #d9dcd6;

  display: flex;
  flex-direction: column;
}

.app-03 header {
  padding: 4px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', sans-serif;
  background-color: #2a607c;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
}

/* menu */
.app-03 header .hamburger {
  /* override normalize */
  background-color: transparent;
  border: none;
  /* button properties */
  cursor: pointer;
  color: white;
  font-size: 2rem;
}
.app-03 .hamburger.hide,
.app-03 nav.hide {
  display: none;
}
.app-03 ul.menu {
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', sans-serif;
  margin: 0;
  background-color: rgba(42, 96, 124, 0.9);
  width: 100%;
  list-style-type: none;
  /* position */
  position: absolute;
  top: 64px;
  right: 0px;
  transform: translateX(0%);
  transition: transform 0.2s ease-in;
}
.app-03 ul.menu.hide {
  transform: translateX(100%);
  transition: transform 0.2s ease-in;
}
.app-03 ul.menu li {
  display: flex;
  justify-content: flex-end;
  font-size: 1.5rem;
}
.app-03 ul.menu li::after {
  content: '\f054';
  font-family: 'Font Awesome 5 Free';
}
.app-03 ul.menu li a {
  padding: 1rem 0;
  color: white;
  text-decoration: none;
}
.app-03 ul.menu li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.app-03 header h1 {
  margin: 0;
  font-size: 48px;
}

.app-03 .seo {
  color: #d9dcd6;
}

.app-03 nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-size: 20px;
}

.app-03 nav ul {
  list-style-type: none;
}

.app-03 nav ul li {
  display: inline-block;
  margin-left: 25px;
}

.app-03 nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

.app-03 #hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url('../images/digital-marketing-meeting.jpg');
  background-size: cover;
  background-position: center;
}

.app-03 #content {
  flex-basis: 80%;
  display: inline-block;
  margin-left: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.app-03 #content article {
  margin-bottom: 20px;
  padding: 30px;
  background-color: #0072bb;
  color: #ffffff;
  border-radius: 4px;
  display: flex;
}

.app-03 #content img {
  max-height: 200px;
  object-fit: cover;
  object-position: top;
}
.app-03 #content article:nth-child(odd) img {
  order: 1;
}
.app-03 #content article:nth-child(even) img {
  order: -1;
}

.app-03 #content h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

.app-03 #content p {
  font-size: 16px;
}

.app-03 #benefits {
  flex-basis: 20%;
  margin: 0 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: column;
}

.app-03 #benefits article {
  margin-bottom: 32px;
  color: #ffffff;
  background-color: #2589bd;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-03 #benefits h3 {
  margin-bottom: 10px;
  text-align: center;
}

.app-03 #benefits img {
  display: block;
  margin: 0;
  max-width: 150px;
}

.app-03 #benefits p {
  font-size: 16px;
}

.app-03 footer {
  padding: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', sans-serif;
  text-align: center;
}

.app-03 footer h2 {
  font-size: 20px;
}

.app-03 .sections {
  display: flex;
}

@media screen and (width < 1174px) {
  .sections {
    flex-direction: column;
  }
  .app-03 #content,
  .app-03 #benefits {
    flex-basis: 100%;
    margin: 0;
    padding: 0 20px !important;
  }
  .app-03 #benefits {
    display: flex;
    padding: 0;
    float: none !important;
  }
  .app-03 #content article {
    flex-direction: column;
  }
  .app-03 #content article img {
    order: 1 !important;
  }
  .app-03 #benefits article {
    flex-direction: row;
  }
}
