.app-01 .body {
  color: #222222;
  font-size: 1em;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app-01 .content-footer,
.app-01 .masthead-heading,
.app-01 .masthead-intro {
  text-align: center;
}

.app-01 .masthead {
  padding: 1rem 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.app-01 .masthead-intro {
  margin-bottom: 0.1em;
  font-size: 2em;
  color: #ffffff;
}

.app-01 .masthead-heading {
  margin-top: -0.2em;
  font-weight: bold;
  font-size: 6em;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #ffffff;
}

.app-01 .details {
  max-width: 38em;
  margin-left: auto;
  margin-right: auto;
}

.app-01 .details > p {
  font-weight: 300;
  letter-spacing: 0.05em;
}

.app-01 .details > h2 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 2em 0 1em 0;
}

.app-01 section > h1 {
  margin-top: 1em;
}

.app-01 footer {
  padding: 20px 0;
  text-align: center;
  background-color: rgb(17, 17, 17);
  text-decoration: none;
  cursor: pointer;
}
.app-01 footer:hover {
  background-color: rgba(17, 17, 17, 0.9);
}
.app-01 footer:active {
  background-color: rgba(17, 17, 17, 0.8);
}
.app-01 footer button {
  color: #ffffff;
  background-color: transparent;
  border: none;
}
.app-01 .social > li {
  display: inline-block;
  margin: 0 5px;
}
