.toc .body {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}
.toc .header {
  width: 100%;
  margin: 1rem 0;

  display: flex;
  justify-content: center;
}
.toc .app-buttons {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  gap: 4px;
  padding: 4px;
}
.toc .app-button {
  width: calc(50% - 2px);
  padding: 16px;
  border: 0;
  border-radius: 1.3rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  position: relative;
}

@media screen and (min-width: 992px) {
  .toc .app-button {
    width: calc((100% - 2 * 4px) / 3);
  }
}

@media screen and (min-width: 1600px) {
  .toc .app-button {
    width: calc((100% - 3 * 4px) / 4);
  }
}
