@media screen and (max-width: 576px) {
  .app-11 article {
    width: 95vw !important;
  }
}

@media screen and (min-width: 576px) {
  .app-11 article {
    width: 90vw !important;
  }
}

@media screen and (min-width: 768px) {
  .app-11 article {
    width: 85vw !important;
  }
}

@media screen and (min-width: 992px) {
  .app-11 .body {
    flex-direction: row !important;
    align-items: stretch;
  }
  .app-11 header {
    flex-direction: column;
    width: 20vw !important;
    height: 100vh !important;
  }
  .app-11 .header-date {
    flex-direction: column;
  }
  .app-11 .clock-container {
    flex-direction: column;
  }
  .app-11 .currentMonthAndYear {
    flex-wrap: wrap;
  }
  .app-11 main {
    height: 100vh !important;
    width: 75vw !important;
    justify-content: flex-start;
    padding: 0 1vw !important;
    flex-wrap: wrap;
  }
  .app-11 article {
    width: 35vw !important;
    height: 18vh !important;
    margin: 1vh 1vw !important;
  }
  .app-11 footer {
    height: 100vh !important;
    width: 5vw !important;
  }

  .app-11 #weather-container {
    flex-direction: column;
  }

  .app-11 .timeblock-hour {
    width: calc(5px + 3vw) !important;
  }
  .app-11 .timeblock-save {
    width: calc(5px + 3vw) !important;
  }

  .app-11 .container {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .app-11 article {
    width: 21vw !important;
    height: 30vh !important;
  }
  .app-11 .container {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .app-11 header {
    width: 100vw !important;
  }
  .app-11 header-date {
    flex: 1;
  }

  .app-11 header .clock {
    display: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .app-11 header #location,
  .app-11 header #weather-temperature {
    display: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

@media screen and (max-width: 576px) {
  .app-11 header #weather-description {
    display: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}
