.app-08 header {
  background-color: hsl(25, 84%, 61%);
  border-top: none;
  width: 90%;
  padding: 0.5rem 0;
  border-radius: 0 0 1rem 1rem;

  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

/* Elephant Logo */
.app-08 .logo img {
  width: 100px;
}

/* Kiddle */
.app-08 h1 {
  font-family: 'Limelight', cursive;
  color: #ffff98;
  font-size: 3.7rem;
  margin: 0px 0;
  padding: 0;
}

@media screen and (max-height: 800px) {
  .app-08 header {
    flex-direction: row;
  }
}
