@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.moovee {
  font-family: 'Montserrat', sans-serif;
  background-color: black;
  color: azure;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  div.affix {
    width: 100%;
    margin-bottom: 4px;
    div {
      header {
        width: 100%;
        background-color: black;
        box-shadow: 0px 2px 2px -1px white;

        div.header-contents {
          display: flex;
          max-width: calc(900px + 16px);
          padding: 4px;
          margin: 0 auto;

          img {
            height: 32px;
            width: unset;
            margin-right: 4px;
          }

          .header__elements {
            display: flex;
            width: 100%;
            gap: 2px;

            .movie-search {
              flex: 3;
            }

            .history-select {
              flex: 1;
              background-color: rgba(255, 255, 255, 0.8);
              border-radius: 1rem;
            }
          }
        }

        &.unsearched {
          margin: 20vh auto;
          box-shadow: none;

          .header-contents {
            display: flex;
            flex-direction: column;
            max-width: 450px;
            flex-direction: column;
            align-items: center;

            img {
              margin-bottom: 0;

              height: auto;
              max-width: 20vh;
              width: 50%;
              margin-right: unset;
            }

            p {
              margin: 0 0 20px 0;

              font-size: 1rem;
              font-family: cursive;
            }

            .header__elements {
              display: flex;
              flex-direction: column;
              gap: 1rem;
            }
          }
        }
      }
    }
  }

  main {
    flex: 1;

    padding: 0 4px 4px 4px;

    display: flex;
    flex-direction: column;
    width: 100%;

    max-width: calc(900px + 16px);

    .loading-spin {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    div {
      div.movie-grid {
        gap: 4px !important;
        max-width: calc(900px + 8px);
        @media screen and (min-width: calc(900px + 2rem)) {
          margin: auto;
        }

        div {
          div.result-container {
            text-align: center;
            max-width: 449px;
            display: flex;
            flex-direction: column;
            margin: 4px auto 0 auto;
            transition: all 0.5s linear;
            border-radius: 1rem;
            background: radial-gradient(
              circle,
              #000000 0%,
              #ffffff1a 50%,
              #ffffff4d 100% //
            );

            &.empty {
              background: none;
              border-radius: 0;

              h5 {
                color: white;
                font-size: 1.2rem;

                svg {
                  color: pink;
                  display: inline-block;
                  margin-bottom: 1px;
                  font-size: 0.8rem;
                }
              }
            }

            .movie-poster {
              img {
                width: 100%;
                border-radius: 1rem 1rem 0 0;
                object-fit: cover;
                object-position: cover;
              }
            }

            .result {
              padding: 12px 4px 4px 4px;
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 1rem;
              .title {
                margin: 0;
                line-height: 1.15;

                font-size: 1rem;
              }
              .plot {
                padding: 0 16px;
                font-size: 0.8rem;
                text-align: center;
              }
              .rating {
                font-size: 0.8rem;
                text-align: center;
              }
              .actors {
                line-height: 2;
              }
              .genre {
                padding-bottom: 5px;
              }
            }
          }
        }
      }
    }
  }
  footer {
    border-top: 1px solid white;
    padding: 1vh 0;
    width: 100%;
    display: flex;
    justify-content: center;
    a {
      font-size: 1rem;
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
      color: #ed7d31;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
