.graph-container {
	flex: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.graph-menu {
	flex: 0;
	padding-bottom: 1vh;
	margin: 0.5vh 0;
}
.graph-options {
	margin-bottom: 2vh;
}
.graph-option {
	padding-bottom: 0.7vh;
	margin: 1vh 1vw;
	color: white;
	cursor: pointer;
}

.graph-option:hover,
.graph-option.active {
	border-bottom: 0.5vh solid white;
}

.graph-option-divider {
	color: var(--primary-complement);
	margin: 0 1vw;
}

.graph {
	flex: 1;
}
