.page-header {
	justify-content: space-evenly;
}
.page-header-title {
	margin: 1vh 1vw;
	flex: 0;

	font-size: 30px;
	font-weight: bold;
	letter-spacing: calc(max(1px, 0.1vw));
	white-space: nowrap;
	display: flex;
	align-items: center;
}
.page-header-field-location-icon {
	height: 10vh;
	border-radius: 50%;
	box-shadow: 0px 0px 3px 4px var(--secondary);
	transform: rotate(-7200deg);
	transition: transform 360s linear;
	display: inline-block;
}
.boxset {
	display: flex;
}

.page-header-fieldset {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.page-header-field-location {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.page-header-field-location-search {
	width: 100%;
}

.form-select {
	flex: 1;
}
.boxset {
	width: 100%;
}
form {
	width: 70%;
}
@media screen and (max-width: 1200px) {
	.boxset {
		flex-direction: column;
	}
}
@media screen and (max-width: 992px) {
	.page-header {
		display: flex;
	}
	.page-header-title {
		font-size: 24px;
	}

	.boxset {
		width: 100%;
	}
	form {
		width: 80%;
	}
}

@media screen and (max-width: 576px) {
	.page-header {
		flex-direction: column;
	}
	.page-header-title {
		font-size: 20px;
	}

	.page-header-field-location-icon {
		height: 20vh;
		margin-top: -10vh;
	}
	.page-header-title {
		margin: 1vh 0;
	}
	.boxset {
		width: 100%;
	}
	form {
		width: 90%;
	}
	input {
		flex: 1;
	}
}

.search-container {
	flex: 2;
	display: flex;
	position: relative;
	padding: 0.375rem 0;
}

.page-header-field-location-search {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
.page-header-field-location-search input {
	width: 100%;
	border-radius: 4vh;

	padding: 0.375rem 0;

	/* height: 100%; */
	border: 0;
	line-height: 1.15;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size: 18px;
	font-weight: bold;
	transition: background-color 0.3s ease-in;
}

.page-header-field-location-search input:focus-visible {
	outline: none;
}
.page-header-field-location-search input::placeholder {
	margin: 0;
	line-height: 1;
	font-size: 18px;
	font-weight: bold;
}
input:focus::placeholder {
	color: transparent;
}

.search-container #searchBtn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
}
.page-header-field-location-search #searchBtn {
	background-color: var(primary);
	color: var(--primary-complement);
	transition: background-color 0.1s ease-in;
	transition: color 0.1s ease-in;
	border: none;
	border-radius: 50%;

	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	font-weight: bold;
	padding: 6px;
	white-space: nowrap;

	margin: 0 2px;
	cursor: pointer;
}

#searchBtn:hover {
	background-color: var(--secondary);
	color: var(--secondary-complement);
	transition: background-color 0.1s ease-in;
	transition: color 0.1s ease-in;
}

select {
	cursor: pointer;
}

.cityNameLabel {
	text-align: center;
	font-size: 5vh;
	color: var(--tertiary-complement);
	background-color: var(--tertiary);
	padding: 1vh 1vw;
	font-weight: bold;
}
