@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
	background-color: var(--secondary);
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100vh;
	margin: 0;
	overflow: hidden;
}

header {
	background-color: var(--tertiary);
	color: var(--tertiary-complement);
	display: flex;
	flex-direction: row;
	align-items: center;
	font-family: 'Calibri', sans-serif;

	width: 100vw;
	position: relative;
}

main {
	flex: 1;
	width: 100vw;
	display: flex;
	flex-direction: column;
}

img[src$='.png'] {
	height: 2vh;
}

.today,
.future {
	flex: 1;
	display: flex;
	flex-direction: column;
}

h1 {
	justify-content: center;
}
