@import url("https://fonts.googleapis.com/css2?family=Contrail+One&family=Limelight&family=Montserrat:wght@800&family=PT+Sans+Narrow:wght@700&display=swap");
.kiddle {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  background-color: #ef8e48;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}
.kiddle button {
  display: inline-block;
  padding: 4px;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
}
.kiddle header {
  padding-top: 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  box-shadow: 0 0 2px 0 #fff;
}
@media all and (min-width: 600px) {
  .kiddle header {
    flex-direction: row;
  }
}
@media all and (max-height: 600px) {
  .kiddle header {
    flex-direction: row;
  }
}
.kiddle header .logo img {
  height: max(64px, 8vmin);
}
.kiddle header h1 {
  margin: 0px 0;
  padding: 0;
  font-size: max(64px, 8vmin);
  font-family: "Limelight", cursive;
  color: #ffff98;
  position: relative;
}
@media all and (min-width: 600px) {
  .kiddle header h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
.kiddle header .extra {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  margin-right: max(1vw, 16px);
  gap: max(1vw, 16px);
}
.kiddle header .extra button {
  background-color: transparent;
  margin: 4px 0;
  font-size: max(64px, 8vmin);
  border: none;
  box-shadow: none;
  color: #ffff98;
}
.kiddle header .extra button:hover {
  background-color: rgba(255, 255, 255, 0.2666666667);
}
.kiddle main {
  flex: 1; /* height */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.kiddle main .tile-wrapper {
  display: flex;
  gap: max(16px, 2vw);
  margin: max(16px, 2vh) 0;
  padding: 0 max(16px, 2vw);
  width: 100%;
}
@media all and (min-width: 800px) {
  .kiddle main .tile-wrapper {
    padding: max(16px, 2vh) max(16px, 2vw);
  }
}
.kiddle main .tile-wrapper .tile {
  box-shadow: 0 0 max(16px, 2vmin) #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 2vh 2vw;
  transition: 0.2s;
  border-radius: max(16px, 2vmin);
  width: 25%;
  height: 40vh;
  font-size: min(25vh, 10vw);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  line-height: 1.5;
  color: white;
  text-align: center;
}
.kiddle main .tile-wrapper #tile0 {
  background-color: #a7b9f2;
}
.kiddle main .tile-wrapper #tile1 {
  background-color: #f79a99;
}
.kiddle main .tile-wrapper #tile2 {
  background-color: #77dd77;
}
.kiddle main .tile-wrapper #tile3 {
  background-color: #ffc078;
}
.kiddle main .alarm-wrapper {
  margin: 1vh 0;
}
.kiddle main .alarm-wrapper .alarm {
  box-shadow: 7px -6px 0px 0px #b9b6b6, 10px -6px 6px 2px #ece47a;
  text-align: center;
  padding: 0.5rem;
  background-color: black;
  border: 3px solid #ffffff;
  border-radius: 0.6rem;
  font-size: max(64px, 8vmin);
  font-family: "Courier", monospace;
  font-weight: bold;
  color: #ffffff;
}
.kiddle main button {
  width: 100%;
  font-size: max(64px, 8vmin);
}/*# sourceMappingURL=index.css.map */