@import url('https://fonts.googleapis.com/css2?family=Contrail+One&family=Limelight&family=Montserrat:wght@800&family=PT+Sans+Narrow:wght@700&display=swap');

.kiddle {
  $small-w: max(16px, 2vw);
  $medium-w: max(32px, 4vw);
  $large-w: max(64px, 8vw);

  $small-h: max(16px, 2vh);
  $medium-h: max(32px, 4vh);
  $large-h: max(64px, 8vh);

  $small-m: max(16px, 2vmin);
  $medium-m: max(32px, 4vmin);
  $large-m: max(64px, 8vmin);

  display: flex;
  flex-direction: column;

  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  background-color: #ef8e48;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;

  button {
    display: inline-block;
    padding: 4px;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
  }

  header {
    padding-top: 0.5rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;

    @media all and (min-width: 600px) {
      flex-direction: row;
    }

    @media all and (max-height: 600px) {
      flex-direction: row;
    }

    box-shadow: 0 0 2px 0 #fff;

    .logo img {
      height: $large-m;
    }

    h1 {
      margin: 0px 0;
      padding: 0;
      font-size: $large-m;
      font-family: 'Limelight', cursive;
      color: #ffff98;

      position: relative;

      @media all and (min-width: 600px) {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .extra {
      display: flex;
      align-items: flex-end;
      flex-direction: row;
      margin-right: max(1vw, 16px);
      gap: max(1vw, 16px);

      button {
        background-color: transparent;
        margin: 4px 0;
        font-size: $large-m;
        border: none;
        box-shadow: none;
        color: #ffff98;
        &:hover {
          background-color: #ffffff44;
        }
      }
    }
  }

  main {
    flex: 1; /* height */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .tile-wrapper {
      display: flex;
      gap: $small-w;
      margin: $small-h 0;
      padding: 0 $small-w;
      width: 100%;
      @media all and (min-width: 800px) {
        padding: $small-h $small-w;
      }
      .tile {
        box-shadow: 0 0 $small-m #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        padding: 2vh 2vw;
        transition: 0.2s;
        border-radius: $small-m;
        width: 25%;
        height: 40vh;
        font-size: min(25vh, 10vw);
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        line-height: 1.5;
        color: white;
        text-align: center;
      }

      #tile0 {
        background-color: #a7b9f2;
      }

      #tile1 {
        background-color: #f79a99;
      }

      #tile2 {
        background-color: #77dd77;
      }

      #tile3 {
        background-color: #ffc078;
      }
    }

    .alarm-wrapper {
      margin: 1vh 0;

      .alarm {
        box-shadow: 7px -6px 0px 0px #b9b6b6, 10px -6px 6px 2px #ece47a;
        text-align: center;
        padding: 0.5rem;
        background-color: black;
        border: 3px solid #ffffff;
        border-radius: 0.6rem;
        font-size: $large-m;
        font-family: 'Courier', monospace;
        font-weight: bold;
        color: #ffffff;
      }
    }

    button {
      width: 100%;
      font-size: $large-m;
    }
  }
}
