.home .resume {
  padding-top: 5vh;
  padding-bottom: 5vh;
  position: relative;

  display: flex;
  flex-flow: row wrap;
  width: 100%;

  z-index: 3;

  background: rgb(0, 0, 0, 0.9);
  color: white;
}

.home .resume a {
  width: 100%;
  padding: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
}

.home .resume a:nth-child(2n) {
  background-color: rgba(255, 255, 255, 0.1);
}

.home .resume a:hover::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.2);
}

.home .resume a:active::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.3);
}

.home .resume-link p {
  margin: 0;
}

@media screen and (min-width: 300px) {
  .home .resume a {
    width: 50% !important;
  }
  .home .resume a:nth-child(2n) {
    background: none !important;
  }

  .home .resume a:nth-child(3),
  .home .resume a:nth-child(4) {
    background-color: rgba(255, 255, 255, 0.1) !important;
  }
}

@media screen and (min-width: 600px) {
  .home .resume a {
    width: 25% !important;
  }
  .home .resume a:nth-child(2n) {
    background: none !important;
  }
  .home .resume a:nth-child(2n + 1) {
    background-color: rgba(255, 255, 255, 0.1) !important;
  }
}
