.app-15 {
  --primary: #400135;
  --secondary: #660273;
  --tertiary: #8c0368;
  --call-to-action: #f2055c;
  --highlight: #7d52d9;
}

.app-15 header {
  position: relative;
  background-color: var(--secondary);
}
.app-15 header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-shadow: 0 1px 2px 0 var(--secondary);
}
.app-15 main {
  background-color: var(--primary);
}
.app-15 footer {
  background-color: var(--secondary);
  position: relative;
}
.app-15 footer:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-shadow: 0 -1px 2px 0 var(--secondary);
}
.app-15 article {
  border-radius: 1rem;
  position: relative;
}
.app-15 article:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 1rem;
  box-shadow: 0 0 3px 0 var(--highlight);
}

/* scrollbar */
.app-15 ::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-track {
  box-shadow: inset 1px -1px 5px var(--tertiary);
}
::-webkit-scrollbar-thumb {
  background: var(--tertiary);
}
