.app-15 {
  --primary: #400135;
  --secondary: #660273;
  --tertiary: #8c0368;
  --call-to-action: #f2055c;
  --highlight: #7d52d9;
}

.app-15 .body {
  background-color: var(--primary);
}

.app-15 header {
  position: relative;
}
.app-15 header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-shadow: 0px 1px 5px 0px var(--secondary);
}
.app-15 main {
  border: 1px solid black;
}
.app-15 footer {
  border-top: 1px solid var(--secondary);
}

.app-15 article {
  border-radius: 1rem;
  border: 1px solid var(--highlight);
}
