.app-15 {
  --primary: hsl(310, 97%, 13%);
  --secondary: hsl(293, 97%, 23%);
  --tertiary: hsl(316, 96%, 28%);
  --call-to-action: hsl(338, 96%, 48%);
  --highlight: hsl(259, 64%, 59%);
  --selected: hsl(259, 64%, 89%);
}

.app-15 header {
  position: relative;
  background-color: var(--secondary);
}
.app-15 header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-shadow: 0 1px 2px 0 var(--secondary);
}

.app-15 main {
  background-color: var(--primary);
}
.app-15 footer {
  background-color: var(--secondary);
  position: relative;
}
.app-15 footer:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-shadow: 0 -1px 2px 0 var(--secondary);
}
.app-15 article {
  position: relative;
  border-radius: 0.7rem;
  padding: 0.7rem;
}
.app-15 article:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 0.7rem;
  box-shadow: 0 0 4px 0 var(--highlight);
}
.app-15 article:hover {
  cursor: pointer;
}
.app-15 article:hover:before {
  box-shadow: 0 0 4px 0 var(--selected);
}
.app-15 article:hover:active:before {
  box-shadow: 0 0 4px 0 var(--tertiary);
}
.app-15 article.selected:before {
  box-shadow: 0 0 12px 0 var(--selected);
}
.app-15 article.selected:active:before {
  box-shadow: 0 0 12px 0 var(--tertiary);
}

.app-15 article p {
  margin: 0;
}
/* scrollbar */
.app-15 ::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-track {
  box-shadow: inset 1px -1px 5px var(--tertiary);
}
::-webkit-scrollbar-thumb {
  background: var(--tertiary);
}
