.app-15 .body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.app-15 header {
  display: flex;
  justify-content: center;
}
.app-15 main {
  overflow-y: auto;
  overflow-x: auto;
  padding: 1rem;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-content: flex-start;
  flex-grow: 1;
  gap: 1rem;
  width: 100%;
}
.app-15 footer {
  display: flex;
  justify-content: center;
}
.app-15 article {
  height: 200px;
  min-width: 200px;
  flex-basis: calc((100% - 0rem) / 1);
}

/* sm */
@media screen and (min-width: 576px) {
  .app-15 article {
    flex-basis: calc((100% - 1rem) / 2);
  }
}

/* md */
@media screen and (min-width: 768px) {
  .app-15 article {
    flex-basis: calc((100% - 2rem) / 3);
  }
}

/* lg */
@media screen and (min-width: 992px) {
  .app-15 article {
    flex-basis: calc((100% - 3rem) / 4);
  }
}

/* xl */
@media screen and (min-width: 1200px) {
  .app-15 article {
    flex-basis: calc((100% - 4rem) / 5);
  }
}

/* xxl */
@media screen and (min-width: 1600px) {
  .app-15 article {
    flex-basis: calc((100% - 5rem) / 6);
  }
}
