@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

.app-15 {
  --text: #ffffff;
}

.app-15 * {
  font-family: 'Roboto', sans-serif;
}

.app-15 header h1 {
  color: var(--text);
  font-size: 2rem;
  margin: 4px 0;
}
.app-15 main {
  color: var(--text);
  font-size: 1rem;
}
.app-15 article div {
  font-family: 'Poppins', sans-serif;
}
.app-15 footer h2 {
  color: var(--text);
  font-size: 0.9rem;
  margin: 4px 0;
}
