.app-14 .body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.app-14 .affix {
  width: 100%;
  max-width: calc(900px + 16px);
  background-color: black;
}

.app-14 .header {
  width: 100%;
  display: flex;
  align-items: center;
  max-width: calc(900px + 16px);
  padding: 4px;
  background-color: black;
  box-shadow: 0px 2px 2px -1px white;
  margin-bottom: 4px;
}

.app-14 .header.unsearched {
  margin: 20vh auto;

  max-width: 450px;
  flex-direction: column;
  box-shadow: none;
}
.app-14 .header.unsearched .header-elements {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.app-14 .header.unsearched img {
  margin-bottom: 0;
}

.app-14 .header.unsearched p {
  margin: 0 0 20px 0;
  font-size: 14px;
}

.app-14 .header-elements {
  display: flex;
  width: 100%;
}

.app-14 .header img {
  width: 50%;
  max-width: 20vh;
}
.app-14 .header:not(.unsearched) img {
  height: 32px;
  width: unset;
  margin-right: 4px;
}
.app-14 .header-elements {
  gap: 2px;
}

.app-14 .movie-search {
  flex: 3;
}
.app-14 .history-select {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
}

.app-14 ul {
  margin: 0;
  padding: 0;
}

.app-14 main {
  flex: 1;

  padding: 0 4px 4px 4px;

  display: flex;
  flex-direction: column;
  width: 100%;

  max-width: calc(900px + 16px);
}
.app-14 .card {
  margin-bottom: 1rem;
  max-width: 449px;
  margin: 4px auto 0 auto;
}
.app-14 .result-container {
  max-width: 449px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  transition: all 0.5s linear;
}

.app-14 .result-container.empty h5 svg {
  display: inline-block;
  margin-bottom: 1px;
}

.app-14 .movie-poster img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  object-fit: cover;
  object-position: cover;
}
.app-14 .movie-details {
  padding: 12px 4px 4px 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.app-14 .movie-details .title {
  margin: 0;
  line-height: 1.15;
}
.app-14 .movie-details .movie-poster {
  margin: 10px;
}

.app-14 .movie-details .plot {
  padding: 0 16px;
}

.app-14 .movie-details .actors {
  line-height: 2;
}

.app-14 .movie-details .genre {
  padding-bottom: 5px;
}
.app-14 .movie-details ul {
  list-style-type: none;
}

.app-14 footer {
  text-align: center;
  padding-bottom: 4px;
}

@media screen and (min-width: calc(900px + 2rem)) {
  .app-14 .movie-grid {
    margin: auto;
  }
}

.app-14 .hide {
  display: none;
}
