.app-14 .body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-14 .header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.app-14 .header.unsearched {
  flex-direction: column;
}
.app-14 .header .logo {
  width: 50%;
  max-width: 20vh;
}

.app-14 ul {
  margin: 0;
  padding: 0;
}

.app-14 main {
  flex: 1;

  padding: 1rem;

  display: flex;
  flex-direction: column;
  width: 100%;

  max-width: calc(900px + 2rem);
}
.app-14 .card {
  margin-bottom: 1rem;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
}
.app-14 .result-container {
  display: flex;
  flex-direction: column;
  transition: all 0.5s linear;
}
.app-14 .movie-poster img {
  width: 100%;

  object-fit: cover;
  object-position: cover;
}
.app-14 .movie-details {
  padding: 1rem;
}
.app-14 .movie-details .title {
  margin-top: 0;
}
.app-14 .movie-details .movie-poster {
  margin: 10px;
}
.app-14 .movie-details .trailer-btn {
  margin-bottom: 1rem;
}

.app-14 .movie-details .genre {
  padding: 5px;
}
.app-14 .movie-details ul {
  list-style-type: none;
}

.app-14 .footer {
  text-align: center;
  background-color: none;
}
.app-14 .footer-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
@media screen and (min-width: calc(900px + 2rem)) {
  .app-14 .movie-grid {
    margin: auto;
    /* color: white; */
  }
}

.app-14 .hide {
  display: none;
}
