.app-14 .body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-14 .header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}
.app-14 .header .logo {
  width: 50%;
  max-width: 20vh;
}

.app-14 .form {
  display: flex;
  justify-content: center;
}

.app-14 .movie-details {
  padding: 1rem;
  width: calc(100% - 2rem);
}

.app-14 .ul {
  margin: 0;
  padding: 0;
}

.app-14 main.results {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}
.app-14 .result-container {
  margin-bottom: 100px;
  margin-top: 40px;
}
.app-14 .li.year {
  margin: 10px;
}
.app-14 .li.rated {
  padding: 5px;
}

/* movie genres */
.app-14 .genre {
  padding: 5px;
}

.app-14 .footer {
  text-align: center;
  background-color: none;
}
.app-14 .footer-icon {
  font-size: 20px;
  height: 40px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
