@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.app-14 * {
  font-family: 'Montserrat', sans-serif;
}
.app-14 .result .title {
  font-size: 1rem;
}

.app-14 .result-container {
  text-align: center;
}

.app-14 .result-container.empty h5 {
  font-size: 1.2rem;
}
.app-14 .result-container.empty h5 svg {
  font-size: 0.8rem;
}

.app-14 footer a {
  font-size: 1rem;
}

.app-14 .result .plot {
  font-size: 0.8rem;
  text-align: center;
}

.app-14 .result .rating {
  font-size: 0.8rem;
  text-align: center;
}
