@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.app-14 * {
  font-family: 'Montserrat', sans-serif;
}
.app-14 .movie-details .title {
  font-size: 1rem;
}

.app-14 .result-container {
  text-align: center;
}

.app-14 footer a {
  font-size: 1rem;
}
