@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.emply {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-family: 'Lato', sans-serif;

  header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    height: max(5vh, 40px);
    background-color: #faead6;
    color: #0014ab;

    .logo {
      margin-left: 4px;
      height: 100%;
    }
    h1 {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      margin: 0;
      padding: 0;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
    height: 100%;
  }

  section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-evenly;
    gap: 1rem;
    width: 100%;
    padding: 1rem 0;
    &.employees {
      flex: 1;
      background-color: hsl(34, 28%, 37%);
    }
    &.new-employees {
      flex: 1;
      background-color: hsl(34, 28%, 57%);
    }

    .buttons {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      gap: 8px;
      width: 100%;
      padding: 4px 0;
    }
  }

  article {
    width: 100%;
    max-width: 300px;
    height: fit-content;
    border-radius: 1rem;
  }
}
