.docu {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;

  header {
    width: 100%;
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #660274;
    padding: 1vw;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      box-shadow: 0 1px 2px 0 #660274;
    }

    img {
      margin-left: 1vw;
      height: calc(max(64px, 10vh));
    }

    h1 {
      position: relative;
      color: #fadcfe;
      font-size: max(32px, 5vh);
      margin: 0;

      @media screen and (min-width: 750px) {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    div {
      display: flex;
      gap: max(2vw, 16px);
    }
  }

  main {
    overflow-y: auto;
    overflow-x: auto;
    padding: 1vh 1vw;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-content: flex-start;
    flex-grow: 1;
    gap: 1vh;
    width: 100%;
    background-color: #410137;
    color: #fadcfe;
    font-size: 1rem;

    section {
      display: flex;
      justify-content: center;
      flex-flow: row wrap;
      align-content: flex-start;
      flex-grow: 1;
      gap: 1rem;
      width: 100%;

      article {
        position: relative;
        border-radius: 0.7rem;
        padding: 1vh 1vw;
        height: auto;
        min-width: 200px;
        flex-basis: calc((100% - 0rem) / 1);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        text-align: center;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          border-radius: 0.7rem;
          box-shadow: 0 0 4px 0 hsl(293, 97%, 23%);
          transition: box-shadow 0.06s linear;
        }
        &:hover {
          cursor: pointer;
        }
        &:hover::before {
          box-shadow: 0 0 4px 0 #f0055b;
          transition: box-shadow 0.06s linear;
        }
        &:active::before {
          box-shadow: 0 0 4px 0 #8c0367;
          transition: box-shadow 0.06s linear;
        }

        &.selected {
          background-color: #8c0367;
        }

        &.selected:hover::before {
          box-shadow: 0 0 8px 0 #f0055b;
          transition: box-shadow 0.06s linear;
        }
        &.selected:active::before {
          box-shadow: 0 0 4px 0 #8c0367;
          transition: box-shadow 0.06s linear;
        }

        h2 {
          margin: 1vh 0;
        }

        ul,
        ol {
          margin: 1vh 0;
          padding-left: 20px;
        }
        li {
          margin: 1vh 0;
          text-align: left;
        }

        p {
          margin: 0;
        }

        img {
          max-width: 100%;
        }

        a {
          text-decoration: none;
          color: green;
        }
      }
      div {
        gap: 1vmin !important;

        .grid {
          padding: 4px;
        }
      }
    }
  }
  footer {
    background-color: #660274;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 4px 0;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      box-shadow: 0 -1px 2px 0 #660274;
      transition: box-shadow 0.06s linear;
    }

    h2 {
      color: #fadcfe;
      font-size: 0.9rem;
      margin: 4px 0;
    }
  }

  /* scrollbar */
  ::-webkit-scrollbar {
    width: 1rem;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 1px -1px 5px #8c0367;
  }
  ::-webkit-scrollbar-thumb {
    background: #8c0367;
  }
}
