/* colors */
.app-16 {
  --a: #f0473c;
  --b: #def048;
  --c: #f031c8;
  --d: #18f06f;
  --e: #9924f0;
}

.app-16 .body {
  background-color: black;
  color: white;
}

/* header */
.app-16 .body button {
  border: none;
  background-color: hsl(290, 98%, 50%);
}
.app-16 .body button:hover {
  background-color: hsl(290, 98%, 70%);
  border: none;
}
.app-16 .body button:active {
  outline: none;
  background-color: hsl(290, 98%, 90%);
  border: none;
}

/* main */
.app-16 main {
  color: inherit;

  background-color: rgba(255, 255, 255, 0.02);
}
.app-16 form {
  color: inherit;

  /* background-color: rgba(255, 255, 255, 0.1); */
}
.app-16 fieldset {
  border: 0;
  border-radius: 20px;
}
.app-16 fieldset:nth-of-type(1) {
  border-bottom: 1px solid var(--a);
}

.app-16 label:nth-of-type(1) {
  color: var(--a);
}
.app-16 fieldset:nth-of-type(2) {
  border-bottom: 1px solid var(--b);
}
.app-16 label:nth-of-type(2) {
  color: var(--b);
}
.app-16 fieldset:nth-of-type(3) {
  border-bottom: 1px solid var(--c);
}
.app-16 label:nth-of-type(3) {
  color: var(--c);
}
.app-16 fieldset:nth-of-type(4) {
  border-bottom: 1px solid var(--d);
}
.app-16 label:nth-of-type(4) {
  color: var(--d);
}
.app-16 fieldset:nth-of-type(5) {
  border-bottom: 1px solid var(--e);
}
.app-16 label:nth-of-type(5) {
  color: var(--e);
}

.app-16 input {
  border: none;
  background-color: transparent;
  color: inherit;
}

/* footer */

/* scrollbar */
.app-16 ::-webkit-scrollbar {
  width: 4px;
}

.app-16 ::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: white;
}
