@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

.home header {
  position: relative;
  width: 100%;
  height: max(40px, 5vh);
  background-color: black;
  color: white;
  font-family: 'Allerta Stencil', sans-serif;
  font-size: max(16px, 2vh);
  display: flex;
  align-items: center;
}
.home .logo {
  margin: 0 auto 0;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 max(8px, 1vw);
  position: absolute;
  left: 0;
  z-index: 1;
}

.home nav {
  flex: 1 1;
  height: 100%;

  display: flex;
  justify-content: center;

  position: relative;
}
.home ul {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.home ul.big {
  position: absolute;
  bottom: -15vh;
  right: 0;

  z-index: 8;

  background-color: rgba(0, 0, 0, 0.9);
}
.home ul.big a {
  padding-right: 1vw;
  height: 5vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 2;
}
.home ul span.nolink {
  width: max(32px, 4vw);
}
.home ul a:hover,
.home .logo:hover {
  background-color: #222;
}
.home ul a:active,
.home .logo:active {
  background-color: #aaa;
}
.home ul.menu.description {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.home ul.menu.description a {
  width: max(32px, 4vw);
  display: flex;
  align-items: center;
  justify-content: center;
}
.home ul.small {
  display: none;
  height: 100%;
  align-items: center;
}
.home ul.small a {
  height: 100%;
  display: flex;
  align-items: center;
}

.home .hide {
  display: none !important;
}

.home button.hamburger {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: auto;
}

.home a,
.home a:active,
.home a:focus,
.home a:focus-within,
.home a:target,
.home a:hover,
.home a:visited,
.home a:focus-visible {
  text-decoration: none;
  color: white;
}

/* medium screens */
@media screen and (min-width: 700px) {
  .home button.hamburger {
    display: none;
  }
  .home ul {
    padding: 0;
    display: 100%;
    flex-direction: row;
    justify-content: center;
  }
  .home ul a {
    padding: 0 2vw;
  }
  .home ul.menu.big {
    display: none;
  }

  .home ul.menu.small {
    display: flex;
  }

  /* description page */
  .home ul.small.description {
    justify-content: center;
    width: 100%;
  }
}
