.app-13 .form-select:focus-visible {
  outline: none;
}
.app-13 .form-select {
  flex: 1;
}
.app-13 select {
  text-align: start;
  box-sizing: border-box;
  white-space: pre;
  -webkit-rtl-ordering: logical;
  margin: 0em;

  background-image: url("data:image/svg+xml,<svg width='24' height='24' xmlns='http://www.w3.org/2000/svg'><path d='m0,6l12,12l12,-12l-24,0z'/><path fill='none' d='m0,0l24,0l0,24l-24,0l0,-24z'/></svg>");
}

/* inactive buttons */
.app-13 .gray {
  background-color: var(--primary) !important;
  transition: background-color 0.3s ease-in;
}

/* button 1 */
.app-13 .search-container {
  flex: 2;
  display: flex;
  position: relative;
  padding: 0.375rem 0;
}

.app-13 .search-container .button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
