.app-28 .algo-card {
  display: flex;
  flex-direction: row;

  max-width: 500px;
  border-radius: 8px 8px 0 0;
  justify-content: space-between;
}

.app-28 .algo-card-body {
  display: flex;
  flex-direction: row;
}
