/* This document contains CSS property literals for all colors used in the Weather Dashboard */

.app-13 {
  --primary: #a99eba;
  --primary-complement: #333b35;

  --secondary: #513d6e;
  --secondary-complement: #ffffff;

  --tertiary: #cbc5d4;
  --tertiary-complement: #101210;

  --quaternary: #63517d;
  --quaternary-complement: #ffffff;
}

.app-13 .warning {
  background-color: rgba(255, 0, 0, 0.432) !important;
  transition: background-color 0.3s ease-in;
}

.app-13 .highlight {
  background-color: rgba(0, 255, 0, 0.432) !important;
  transition: background-color 0.3s ease-in;
}

.app-13 .ballHighlight {
  background-color: yellow !important;
}
