.toc .header {
  color: white;
}

.toc .app-button {
  background: linear-gradient(45deg, #000, #333 50%);
}
.toc .app-button:not(.finished) {
  background-color: red;
}

.toc a {
  text-decoration: none;
}

.toc .app-button:hover::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 1.3rem;
  background-color: rgba(255, 255, 255, 0.2);
}

.toc .app-button:active::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 1.3rem;
  background-color: rgba(255, 255, 255, 0.1);
}

.toc .header {
  width: 100%;
  margin: 1rem 0;

  display: flex;
  justify-content: center;
}
.toc .app-buttons {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  gap: 4px;
  padding: 4px;
}
.toc .app-button {
  width: calc(50% - 2px);
  padding: 16px;
  border: 0;
  border-radius: 1.3rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  position: relative;
}

.toc * {
  font-family: 'Open Sans', sans-serif;
}
.toc .header {
  font-size: 18px;
}

.toc .app-button {
  text-align: left;
  font-weight: 500;
}

.toc .app-button-title {
  font-size: 36px;
  margin: 0 0 4px 0;
}

.toc .app-button-description {
  margin: 0 0 2px 0;
}
.toc .app-button-keywords {
  margin: 0;
}

@media screen and (min-width: 992px) {
  .toc .app-button {
    width: calc((100% - 2 * 4px) / 3);
  }
}

@media screen and (min-width: 1600px) {
  .toc .app-button {
    width: calc((100% - 3 * 4px) / 4);
  }
}
