@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap");
.token {
  color: white;
}
.token.atrule {
  color: #c792ea;
}
.token.attr-name {
  color: #ffcb6b;
}
.token.attr-value {
  color: #a5e844;
}
.token.attribute {
  color: #a5e844;
}
.token.boolean {
  color: #c792ea;
}
.token.builtin {
  color: #ffcb6b;
}
.token.cdata {
  color: #80cbc4;
}
.token.char {
  color: #80cbc4;
}
.token.class {
  color: #ffcb6b;
}
.token.class-name {
  color: #f2ff00;
}
.token.comment {
  color: #616161;
}
.token.constant {
  color: #c792ea;
}
.token.deleted {
  color: #ff6666;
}
.token.doctype {
  color: #616161;
}
.token.entity {
  color: #ff6666;
}
.token.function {
  color: #c792ea;
}
.token.hexcode {
  color: #f2ff00;
}
.token.id {
  color: #c792ea;
  font-weight: bold;
}
.token.important {
  color: #c792ea;
  font-weight: bold;
}
.token.inserted {
  color: #80cbc4;
}
.token.keyword {
  color: #c792ea;
}
.token.number {
  color: #fd9170;
}
.token.operator {
  color: #89ddff;
}
.token.prolog {
  color: #616161;
}
.token.property {
  color: #80cbc4;
}
.token.pseudo-class {
  color: #a5e844;
}
.token.pseudo-element {
  color: #a5e844;
}
.token.punctuation {
  color: #89ddff;
}
.token.regex {
  color: #f2ff00;
}
.token.selector {
  color: #ff6666;
}
.token.string {
  color: #a5e844;
}
.token.symbol {
  color: #c792ea;
}
.token.tag {
  color: #ff6666;
}
.token.unit {
  color: #fd9170;
}
.token.url {
  color: #ff6666;
}
.token.variable {
  color: #ff6666;
}

.algoz {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  color: #7dbcea;
  background-color: black;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
.algoz header {
  display: flex;
  justify-content: center;
  align-items: stretch;
  position: relative;
  width: 100%;
  height: max(5vh, 40px);
  border-bottom: 1px solid #7dbcea;
}
.algoz header h1 {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  margin: 0;
  font-size: 32px;
}
.algoz header nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.algoz header nav ul li {
  height: 100%;
}
.algoz header nav ul li button {
  display: flex;
  align-items: flex-end;
  position: relative;
  height: 100%;
  margin: 0 1vw;
  padding: 1vh 1vw;
  transition: border 100ms linear;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 1rem;
  font-size: max(16px, 1vmin);
  color: gray;
}
.algoz header nav ul li button:hover {
  transition: border 100ms linear;
  color: white;
}
.algoz header nav ul li button:active {
  outline: none;
  transition: border 100ms linear;
}
.algoz header nav ul li button.active {
  color: white;
}
.algoz main {
  overflow-y: auto;
  width: 100%;
  max-width: 100%;
  height: calc(100vh - max(5vh, 40px));
  padding: 8px;
  font-size: 1.15rem;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: white;
  text-align: left;
  white-space: break-spaces;
}
.algoz main .grid {
  gap: 4px !important;
}
.algoz main .card {
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #ffffff;
  border-radius: 1vmin;
  background-color: rgba(61, 94, 117, 0.133);
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  position: relative;
}
.algoz main .card .title {
  padding: 4px;
  white-space: pre-wrap;
}
.algoz main .card .buttons {
  display: flex;
  flex-direction: column;
  padding: 4px;
  gap: 4px;
  z-index: 2;
}
.algoz main .card:hover {
  color: hotpink;
}
.algoz main .card:hover::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1;
  border-radius: 1vmin;
  background-color: rgba(125, 188, 234, 0.1333333333);
}
.algoz__code {
  background: black;
  font-size: 16px;
  font-family: "Source Code Pro", monospace;
  color: white;
}
.algoz__code pre {
  margin: 0;
  line-height: 19px;
}
.algoz__code pre code {
  word-break: keep-all;
  white-space: break-spaces;
}/*# sourceMappingURL=algoz.css.map */