@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');

$algozHeaderHeight: max(5vh, 40px);
$algozContentHeight: calc(100vh - $algozHeaderHeight);

.algoz {
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  background-color: #000000;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  header {
    display: flex;
    justify-content: center;
    align-items: stretch;
    position: relative;
    width: 100%;
    height: $algozHeaderHeight;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    h1 {
      position: absolute;
      top: 50%;
      left: 8px;
      transform: translateY(-50%);
      margin: 0;
      font-size: 32px;
    }

    nav {
      ul {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        height: 100%;
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
          height: 100%;
          button {
            display: flex;
            align-items: flex-end;
            position: relative;
            height: 100%;
            margin: 0 1vw;
            padding: 1vh 1vw;
            transition: border 100ms linear;
            background-color: transparent;
            cursor: pointer;
            border: none;
            border-radius: 1rem;
            font-size: max(16px, 1vmin);
            color: gray;
            &:hover {
              transition: border 100ms linear;
              color: white;
            }

            &:active {
              outline: none;
              transition: border 100ms linear;
            }
            &.active {
              color: white;
            }
          }
        }
      }
    }
  }

  main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 8px;
    overflow-y: auto;
    width: 100%;
    max-width: 100%;
    height: $algozContentHeight;
    padding: 8px;
    font-size: 1.15rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: white;
    text-align: left;
    white-space: break-spaces;
    .card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      background-color: #383838;
      border-radius: 1rem;
      .leetcode-link {
        display: flex;
        height: min-content !important;
        margin: 0;
        padding: 0;
        background-color: orange;
        border: 0;
        border-radius: 0 16px 0 0;
        text-decoration: none;
        span {
          padding: 8px;
        }
      }
    }
  }

  &__code {
    // hyphens: none;
    background: black;
    font-size: 16px;
    font-family: 'Source Code Pro', monospace;
    color: white;
    pre {
      margin: 0;
      line-height: 19px;
      code {
        word-break: keep-all;
        white-space: break-spaces;
      }
    }
  }
}
