@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');

$algozHeaderHeight: max(5vh, 40px);
$algozContentHeight: calc(100vh - $algozHeaderHeight);

@import './tokens';
.algoz {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  color: #7dbcea;
  background-color: #222a35;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  header {
    display: flex;
    justify-content: center;
    align-items: stretch;
    position: relative;
    width: 100%;
    height: $algozHeaderHeight;
    border-bottom: 1px solid #7dbcea;

    h1 {
      position: absolute;
      top: 50%;
      left: 8px;

      transform: translateY(-50%);
      margin: 0;
      font-size: 32px;
    }

    nav {
      ul {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        height: 100%;
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
          height: 100%;
          button {
            display: flex;
            align-items: flex-end;
            position: relative;
            height: 100%;
            margin: 0 1vw;
            padding: 1vh 1vw;
            transition: border 100ms linear;
            background-color: transparent;
            cursor: pointer;
            border: none;
            border-radius: 1rem;
            font-size: max(16px, 1vmin);
            color: gray;
            &:hover {
              transition: border 100ms linear;
              color: white;
            }

            &:active {
              outline: none;
              transition: border 100ms linear;
            }
            &.active {
              color: white;
            }
          }
        }
      }
    }
  }

  main {
    overflow-y: auto;
    width: 100%;
    max-width: 100%;
    height: $algozContentHeight;
    padding: 8px;
    font-size: 1.15rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: white;
    text-align: left;
    white-space: break-spaces;
    .grid {
      gap: 4px !important;
    }
    .card {
      margin-bottom: 4px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      color: #7dbcea;

      border-radius: 1vmin;
      background-color: #7dbcea22;
      font-size: 16px;
      font-weight: bold;
      line-height: 1.5;

      .title {
        width: 100%;
        display: flex;
        flex-flow: row wrap;

        margin: 0;
        padding: 4px;

        text-decoration: none;

        max-width: 100%;
        height: fit-content;
        text-align: left;
        white-space: pre-wrap;
      }
      .buttons {
        display: flex;
        flex-direction: column;
        padding: 4px;
        gap: 4px;
      }
    }
  }

  &__code {
    // hyphens: none;
    background: black;
    font-size: 16px;
    font-family: 'Source Code Pro', monospace;
    color: white;
    pre {
      margin: 0;
      line-height: 19px;
      code {
        word-break: keep-all;
        white-space: break-spaces;
      }
    }
  }
}
