.app-05 .about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  background-color: rgba(0, 0, 0, 0.9);
  color: white;

  transform: translate3d(0, 0, 0);
  z-index: 7;
}

.app-05 .about-me h1 {
  font-size: calc(16px + 1vh);
}
.app-05 .about-me h3 {
  font-size: calc(12px + 1vh);
}
.app-05 .about-me .hashtag {
  font-size: calc(8px + 1vh);
  padding: 0;
}
.app-05 .about-me .label {
  font-size: calc(8px + 1vh);
}

.app-05 .about-me .content h3 {
  margin: 0;
}

.app-05 .about-me .avatar {
  height: 20vh;
  border-radius: 50%;
}

.app-05 .about-me .avatar:hover {
  animation: around-the-world 0.3s ease-in;
}
