@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

.app-02 .body {
  max-width: 991px;
  font-family: 'Muli', sans-serif;
  height: 100vh;

  overflow: auto;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.app-02 header {
  background-color: #ebbd28;
  position: fixed;
  top: 0;
  display: flex;
  padding: 0 max(5vw, calc(5vw + (90vw - 991px) / 2));
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  z-index: 10;
}
.app-02 {
  --hero-height: 60vh;
  --portfolio-height: 60vh;
}
.app-02 .hero {
  height: var(--hero-height);
  width: 100%;
  z-index: -1;
  position: relative;
  background-color: blue;
}
.app-02 .hero-img {
  object-fit: cover;
  width: 100%;
  height: var(--hero-height);
}
.app-02 .hero-content {
  width: 200px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 25px;
  position: absolute;
  top: calc((var(--hero-height) - 200px) / 2);
  left: calc((100% - 200px) / 2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}
.app-02 h1 {
  flex: 1;
  font-size: 20px;
  color: white;
  font-weight: 400;
  margin: 10px auto;
}
.app-02 h3 {
  flex: 1;
  color: rgb(200, 200, 200, 1);
  font-weight: 400;
  margin: 10px auto;
}
.app-02 main {
  background-color: rgb(120, 146, 120);
  position: absolute;
  top: 120px;
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  z-index: 0;
}
.app-02 footer {
  height: 50px;
  background: #ebbd28;
  color: black;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  width: 100vw;
  justify-content: center;
}
.app-02 footer p {
  padding: 0;
  margin: 0 auto;
  line-height: 1;
}
.app-02 li {
  display: inline;
  padding: 6px;
}
.app-02 a {
  text-decoration: none;
  color: black;
}
.app-02 a:active,
.app-02 a:hover,
.app-02 a:visited,
.app-02 a:active {
  text-decoration: none;
  text-decoration-color: none;
}
.app-02 .portfolios-header {
  flex: 1;
  position: relative;
  color: #e0e0e0;
  font-size: 24px;
  text-align: center;
  margin: 30px 0;
  margin-top: 120px;
  border-bottom: 1px solid white;
  padding: 10px;
  width: 100%;
}
.app-02 .portfolios {
  width: 90vw;
  margin: 0 auto;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.app-02 .portfolio {
  width: 28vw;
  border: 1px solid darkgray;
  border-radius: 3px;
  margin: 20px 0;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-items: stretch;
  background-color: #977e7e;
}
.app-02 .portfolio-header {
  flex: 1;
  position: relative;
  margin-top: -20px;
  border: 1px solid gray;
  border-radius: 8px;
  transition: all 0.5s ease-in;
  padding: 3px 5px;
  background-color: #977e7e;
  color: white;
  font-size: 20px;
}
.app-02 .portfolio .portfolio-header {
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}
.app-02 .portfolio:hover {
  box-shadow: inset 0px 0px 2px rgb(255, 255, 255), 0 0 10px rgba(255, 255, 255, 1);
}
.app-02 .portfolio:hover {
  cursor: pointer;
}
.app-02 .portfolio-text {
  flex: 1;
  color: #e0e0e0;
  font-size: 12px;
  text-align: center;
  margin: 10px 0;
}
.app-02 .portfolio-image {
  flex: 5;
  padding: 4px;
  border-radius: 8px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.app-02 .portfolios-footer {
  flex: 1;
  position: relative;
  color: #e0e0e0;
  font-size: 24px;
  text-align: center;
  margin: 30px 0;
  margin-bottom: 100px;
  border-bottom: 1px solid white;
  padding: 10px;
  width: 100%;
}
.app-02 .bg-modal {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-02 .hide {
  display: none;
}
.app-02 .modal-content {
  width: 500px;
  height: 300px;
  background-color: #e0e0e0;
  opacity: 1;
  border-radius: 4px;
  text-align: center;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.app-02 .lw-logo {
  width: 100px;
}
.app-02 .modal-content .lw-logo {
  flex: 1;
}

.app-02 .close {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
}

.app-02 form {
  width: 100%;
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-02 input {
  width: 100%;
  display: block;
  background-color: rgb(235, 189, 40);
  border-radius: 5px;
  border: 1px solid black;
  padding: 2px;
  text-align: center;
  margin-bottom: 14px;
}
.app-02 .btn {
  padding: 4px 16px;
  margin: 0px;
  background-color: rgb(235, 189, 40);
  border-radius: 8px;
  border: 1px solid white;
  color: black;
  cursor: pointer;
  font-size: 12px;
}
.app-02 .btn:hover {
  transform: scale(0.98);
}
.app-02 .btn:focus {
  outline: 0;
}
@media screen and (max-width: 991px) {
  .app-02 section.portfolios {
    width: 90vw;
  }
  .app-02 a.portfolio {
    width: 40vw;
  }
}
@media screen and (max-width: 768px) {
  .app-02 section.portfolios {
    width: 90vw;
  }
  .app-02 a.portfolio {
    width: 80vw;
  }
}
