.toc * {
  font-family: 'Open Sans', sans-serif;
}
.toc .header {
  font-size: 18px;
}

.toc .app-button {
  text-align: left;
  font-weight: 500;
}

.toc .app-button-title {
  font-size: 36px;
  margin: 0 0 4px 0;
}

.toc .app-button-description {
  margin: 0 0 2px 0;
}
.toc .app-button-keywords {
  margin: 0;
}
