@import './layout.css';
@import './text.css';
@import './appearance.css';

.app-15 {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
